.container{
    #articleCont{
        .item{
            border: 1px solid blue;
            margin-bottom: 2rem;
            .row{
                padding: 0.75rem 0;
                .imgCont{
                    height: 175px;
                    display: flex;
                    align-items: center;
                    img{
                        margin: auto;
                    }
                }
                .formCont{
                    display: block;
                    .elementFormCont{
                        padding: 0.5rem 0;
                    }
                }
                .buttonCont{
                    padding: 0.5rem 0;
                }
            }
        }
    }
}