.navbar {
    .container{
        .collapse{
            ul{
                li{
                    .nav-link{
                        color: rgb(95, 95, 255);
                        &:hover{
                            color: blue;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}
.container{
    .row{
        h1, label, input{
            color:blue;
        }
    }
}